
body{background-image: url("Amarelo/amarelo.png");
background-repeat: no-repeat;
background-size: cover;}

header{position: fixed;
top: 0%;
right: 0%;
left: 0%;
background-color: #fdfdfd;
padding-top: 12px;
padding-bottom: 12px;
height: 55px;}

#menu{height: 50px;
width: 40px;
float: left;
margin-left: 16px;
cursor: pointer;
margin-top: 1px;}

#logo{float: left;
padding-top: 7px;
padding-left: 10px;
padding-right: 330px;}

#pesquisa{float: left;
border-radius: 7px;
background-color: #e2e2e2;
width: 400px;
border: solid 2px;
height: 40px;
border-color: #e2e2e2;
margin-top: 3px;}

#busca{background-color: transparent;
float: left;
font-size: 18px;
color: #2e2e2e;
border: none;
height: 38px;
width: 360px;
padding-left: 6px;}

#busca:focus, input:focus {
box-shadow: 0 0 0 0;
outline: 0;
}

#pesquisa:hover{border-color: #929292;}

#bbuscar{height: 38px;
width: 32px;
cursor: pointer;}

#login{background-color: #d1dcdd00;
color: #F78E1E;
border-color: #F78E1E;
border-radius: 7px;
cursor: pointer;
font-size: 19px;
padding: 6px 11px;
border-style: solid;
border-width: 3px;
margin-top: 5px;
margin-left: 340px;}

#singup{background-color: #F78E1E;
color: #ffffff;
text-align: center;
border-radius: 7px;
border: none;
cursor: pointer;
font-size: 19px;
padding: 9px 11px;
margin-right: 7px;
margin-top: 5px;
margin-left: 14px;
position: fixed;}

footer{background-color: #fdfdfd;
position: absolute;
bottom: -700;
right: 0%;
left: 0%;
padding-top: 3px;}

#left{margin-left: 20px;}

.rede{height: 65px;
width: 65px;
cursor: pointer;}

#aparecer{height: 1500px;}